.form1{
    width: 500px;
    margin-left:auto;
    margin-right: auto;
    /* padding-top: 15px; */
    color: #8492A6;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
  }
  
  .form1 input::placeholder{
    color:#98a6ba
  }
  
  .form1 input[type=text], input[type=number], input[type=date], input[type=email]{
    width:100%;
    padding: 12px 20px;
    margin: 6px 0;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    color:#8492A6;
    letter-spacing: 1.5px;
  }
  
  .form1 input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none; /* remove arrows from number field */
  }
  
  .form1 input[type=radio], input[type=checkbox] {
    margin: 12px 20px;
    vertical-align: middle;
  }
  
  .form1 input:focus{
    background-color: #d1dddf;
    outline: none;
  }
  
  .form1 select{
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    color:#8492A6;
    letter-spacing: 1.5px;
  }
  .form1 select:focus{
    background-color: #d1dddf;
    outline: none; 
  }
  
  .radiocheckbox{
    width: 100%;
    margin-left: 10px;
    margin-top: 0px;
  }
  /* to change the style after js alert */
  .radiocheckbox #exp_level_div{
    box-sizing: border-box;
    border: 2px transparent;
    border-radius: 4px;
  }
  
  
  .form1 textarea {
    width: 100%;
    height: 80px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    font-size: 14px;
    color:#8492A6;
  }
  .form1 textarea:focus {
    background-color: #d1dddf;
    outline: none;
  }
  .form1 textarea::placeholder{
    color:#98a6ba
  }
  
  .form1 input[type=submit] {
    width:100%;
    background-color: #7AB5B6;
    border: none;
    border-radius: 4px;
    letter-spacing: 1.5px;
    font-size: 14px;
    color: white;
    padding:  20px;
    margin-bottom:40px;
    text-decoration: none;
    cursor: pointer;
  }
  .form1 input[type=submit]:hover{
    background-color: #619293;
  }